language: node_js

node_js: 
  - 9
  - node

install:
  - npm install -g codecov

before_script: 
  - chmod 0777 ./node_modules/.bin/istanbul
  - chmod 0777 ./node_modules/.bin/babel-node

script:
  - "npm start &"
  - "npm run test1"
  
after_success:
    - codecov
